:root {
	--main-color: #227ee5;
	--side-nav-width: 65px;
	--background-color: #f8f7fc;
	--moving-nav-color: #eaeaea;
	--top-nav-height: 50px;
	--text-color: #444;
	--light-text-color: #c3c3c3;
	--light-gray: #c3c3c3;
}

/*document.documentElement.style.setProperty('--main-color', 'red');*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/*font-family: 'Segoe UI', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	color: var(--text-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #222;
}

#side-nav {
	background-color: #fff;
	width: var(--side-nav-width);
	height: 100vh;
	position: fixed;
	padding: 20px 0;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: -2px 0 10px 0 rgba(0, 0, 0, 0.1);
}	

#side-nav .hamburguer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#side-nav .logo img {
	width: 45px;
}

#side-nav ul {
	text-align: center;
}

#side-nav ul a {
	/*margin: 50px 0;*/
	padding: 4px 10px;
	display: block;
	text-decoration: none;
	margin: 35px 0;
	width: var(--side-nav-width);
	position: relative;
}

#side-nav #hamb {
	width: 35px;
	cursor: pointer;
	display: none;
}

/*#side-nav ul a.active {
	border-right: 3px solid var(--main-color);
	padding-left: 7px;
}*/

a.active::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-right: 7px solid var(--main-color);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

#side-nav ul a:hover > img {
	opacity: 0.6;
}

#side-nav ul a img {
	width: 25px;
	transition: opacity 0.2s ease-in-out;
}

.main-wrapper {
	background-color: var(--background-color);
	margin-left: var(--side-nav-width);
	padding: 30px;
	min-height: 100vh;
}

.logout button {
	outline: none;
	border: none;
	cursor: pointer;
}

.logout button img {
	width: 25px;
}


/*-- HOME --*/

.readlist {
	background-color: #fff;
	border-radius: 10px;
	max-width: 300px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	height: 310px;
}

.readlist .header {
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.1);
}

.readlist .header h3 {
	font-size: 22px;
}

.readlist .header a {
	color: #fff;
	font-weight: 500;
	font-size: 25px;
	background-color: var(--main-color);
	border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.readlist .list-container {
	width: 100%;
	overflow-y: scroll;
	max-height: 239px;
}

.readlist .list-container .book {
	padding: 10px 15px;
	border-bottom: 1px solid #ececec;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*border-left: 4px solid var(--main-color);
	margin-bottom: 2px;*/
}

.readlist .list-container .book a:hover > .text h4 {
	color: var(--main-color);
}

.readlist .list-container .book h4 {
	font-size: 17px;
	transition: color 0.1s ease-in-out;
}

.readlist .list-container .book h5 {
	color: #808080;
	font-weight: 500;
}

.readlist .list-container .book img {
	width: 25px;
	cursor: pointer;
}

.readlist .list-container::-webkit-scrollbar {
  width: 5px;
}

.readlist .list-container::-webkit-scrollbar-track {
  border-radius: 10px;
  /*background-color: #ececec;*/
}

.readlist .list-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

/*-- /HOME --*/

/*- ---- */
.notes-container {
	margin: 30px 0;
}

.notes-container .book {
	background-color: #fff;
	/*max-width: 800px;*/
	padding: 25px;	
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	margin-bottom: 30px;
	align-items: center;
}

.notes-container .book .book-info h3 {
	color: var(--main-color);
}

.notes-container .book .book-info h4 {
	color: #333;
	margin-bottom: 15px;
}

.notes-container .book .book-info p {
	margin-bottom: 30px;
}

.notes-container .book .book-info a {
	display: block;
	color: var(--main-color);
	padding: 10px 20px;
	width: 140px;
	font-weight: 600;
	/*margin-top: 20px;*/
	border: 2px solid var(--main-color);
	transition: all 0.2s ease-in-out;
}

.notes-container .book .book-info a:hover {
	background-color: var(--main-color);
	color: #fff;
}

.notes-container .book img {
	max-height: 220px;
	margin-right: 20px;
}

.notes-container .book .book-info {
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
	/*height: 220px;*/
}



/*------ NEW BOOK --------*/
.form-container {

}

.form-container .new-book {
	max-width: 640px;
	margin: 20px auto;
	padding: 0 20px;
}

.form-container .new-book label {
	display: block;
	color: var(--main-color);
	font-weight: 600;
	margin-bottom: 4px;
	font-size: 
}

.form-container .new-book input {
	display: block;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 15px;
	/*border: 2px solid var(--main-color);*/
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.form-container .new-book .btn-submit {
	color: var(--main-color);
	border: 2px solid var(--main-color);
	transition: all 0.25s ease-in-out;
	background-color: #fff;
	cursor: pointer;
	font-weight: 600;
	margin-top: 20px;
}

.form-container .new-book .btn-submit:hover {
	color: #fff;
	background-color: var(--main-color);
}

/*--------- BOOKS --------*/
.table-container {
	text-align: left;
	height: 450px;
	margin: 20px 0;
	width: 100%;
	/*overflow-y: scroll;*/
	/*box-shadow: 0 0 10px rgba(0,0,0,0.35);*/
}

.table-container table {
	width: 100%;
	background-color: #fff;
	table-layout: fixed;
}

.table-container table tbody {
	overflow-y: scroll;
	height: 450px;
}

.table-container table th {
	background-color: var(--main-color);
	color: #fff;
	position: sticky;
	top: 0;
	padding: 10px;
	font-weight: 500;
}

.table-container .table-header {
	padding-right: 5px;
	background-color: var(--main-color);
}

.table-container th, .table-container table, .table-container tr, .table-container td {
	border: none;
	border-collapse: collapse;
	text-align: left;
}

.table-container tr {
	margin: 10px 0;
	background-color: #fff;	
	/*box-shadow: 0 0 10px rgba(0,0,0,0.35);*/
}

.table-container .table-content {
	overflow-y: scroll;
	height: 400px;
}

.table-container .table-content .actions {
	width: 100px;
	text-align: center;
}

.table-container .table-content .actions a img {
	width: 30px;
}

.table-container tr:nth-child(odd) {
	background: rgba(0,0,0,0.03);
}

.table-container td {
	border: none;
	border-collapse: collapse;
	padding: 10px;
	font-size: 14px;
	font-weight: 500;
	margin: 10px 0;
} 

.table-container .table-content::-webkit-scrollbar {
  width: 5px;
}

.table-container .table-content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

.table-container .table-content::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  outline: 1px solid slategrey;
  border-radius: 10px;
}

.table-container .header {
	margin: 5px 0 15px;
}

.table-container .header input {
	padding: 8px 15px;
	margin-right: 30px;
	border-radius: 20px;
	border: none;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}
.table-container .header input:focus, .table-interaction .header input:active {
	border: none;
	outline: none;
}

.form-container .new-book select {
	padding: 10px;
	width: 200px;
	font-size: 16px;
}

.form-container .new-book .add-gender {
	color: #fff;
	background-color: var(--main-color);
	display: inline-block;
	padding: 10px 14px;
}

#gender-popup {
	padding: 30px;
	background-color: #fff;
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 999;
	max-width: 80vw;
	width: 400px;
	display: none;
}

#gender-popup.open {
	display: initial;
}

#gender-popup .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

#gender-popup .header h3 {
	font-size: 25px;
}

#gender-popup .header a img {
	width: 18px;
}

#gender-popup input {
	display: block;
	width: 100%;
	padding: 8px 12px;
}

#gender-popup .submit-gender {
	border: none;
	color: #fff;
	background-color: var(--main-color);
	cursor: pointer;
	margin-top: 10px;
	padding: 10px;
}

#gender-popup p {
	margin-bottom: 5px;
}

#gender-popup p.success {
	color: #088608;
}

#gender-popup p.error {
	color: red;
}

#cover, #nav-cover {
	width: 100vw;
	height: 100vh;
	z-index: 8;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

#nav-cover {
	backdrop-filter: blur(3px);
}

#cover.open, #nav-cover.open {
	display: initial;
	opacity: 1;
}


#mobile-nav {
	position: fixed;
	top: 0;
	left: -200px;
	height: 100%;
	background-color: #fff;
	z-index: 99;
	max-width: 200px;
	width: 100%;
	transition: left 0.2s ease-in-out;
	display: none;
}

#mobile-nav.open {
	left: 0;
}

#mobile-nav ul {
	margin-top: 50px;
}

#mobile-nav ul li a {
	width: 100%;
	padding: 10px 20px;
	display: block;
	font-weight: 500;
}

#mobile-nav form button {
	width: 100%;
	display: block;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	background-color: #fff;
	padding: 10px 20px;
	text-align: left;
	border: none;
	font-size: 15px;
}

#mobile-nav ul li a:hover, #mobile-nav form button:hover {
	background-color: #efefef;
}

#close-nav {
	width: 25px;
	cursor: pointer;
	margin: 10px 10px 0 0;
	right: 0;
	position: absolute;
}

/* --- LOGIN --- */
.login-body {
	width: 100%;
	height: 100vh;
	background-color: #fff;
}

.login-body .login-form-container {
    margin: 0 auto;
    text-align: center;
    max-width: 320px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}

.login-body .login-form-container img {
	width: 80px;
}

.login-body .login-form-container .login-title {
	margin-bottom: 20px;
	font-size: 25px;
}

.login-body .login-form-container form {
	width: 100%;
}

.login-body .login-form-container form input {
    width: 100%;
    padding: 14px 12px;
    margin: 8px 0;
    border: none;
    background-color: #eae7e2;
    font-size: 16px;
    border-radius: 2px;
}

.login-body .login-form-container form .login-btn {
	margin: 10px 0 20px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 11px 12px;
    font-size: 16px;
    border: 2px solid var(--main-color);
}

.login-body .login-form-container form .login-btn:hover {
	background-color: #fff;
	color: var(--main-color);
}

.login-body .login-form-container form .error-msg, .form-container form .error-msg  {
	color: red;
	margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
	#side-nav {
		height: 60px;
		width: 100%;
		flex-direction: row;
		padding: 0 20px;
	}

	#side-nav ul, #side-nav form {
		display: none;
	}

	#side-nav .logo a img {
		width: 40px;
	}

	#side-nav #hamb, #mobile-nav {
		display: block;
	}

	.main-wrapper {
		margin-left: 0;
		margin-top: 60px;
	}
}